---
layout: default
post_class: post-template page-template
---


<header class="main-header post-head {% if page.cover %}" style="background-image: url('assets/images/background.jpg') {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix nav-container">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="github.html">Github</a></li>
    </nav>
</header>


<main class="content" role="main">
    <article class="post">
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>
